{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "node": true
  },
  "extends": ["airbnb", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [],
  "rules": {
    "camelcase": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "linebreak-style": ["error", "unix"],
    "max-len": ["error", { "code": 120 }],
    "no-constant-condition": "warn",
    "no-unused-vars": 0,
    "no-underscore-dangle": 0,
    "quotes": ["error", "backtick", { "allowTemplateLiterals": true }],
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-uses-react": 1,
    "react/react-in-jsx-scope": 0,
    "react/prefer-stateless-function": 0,
    "semi": ["error", "never"]
  }
}
